---
type Card = {
  title: string;
  content: string;
};

const { cards } = Astro.props;
---

<div class="about-grid">
  {
    cards.map((card: Card) => (
      <div class="about-card">
        <h3>{card.title}</h3>
        <p>{card.content}</p>
      </div>
    ))
  }
</div>
